# Data structures
1. Sets
2. List
3. Tuples
4. Dictionaries

## 1. Sets
- Non-repeated structures
- Non-ordered structures

In [2]:
my_set1 = {1, 2, 'Jonathan', True, 2, 3.1416, 'Jonathan'}
print(my_set1)

{3.1416, 1, 2, 'Jonathan'}

### Set methods

In [3]:
# Adding an element to a set
my_set1.add('Hernandez')
print(my_set1)

{1, 2, 3.1416, 'Hernandez', 'Jonathan'}

In [5]:
# Union
my_set2 = {'dog', 'cat', 2.7014, 3.1416, 'Jonathan'}
print('Union: ', my_set1 | my_set2)

Union:  {1, 2, 3.1416, 'Hernandez', 2.7014, 'cat', 'Jonathan', 'dog'}

In [6]:
# Intersection
print('Intersection: ', my_set1 & my_set2)

Intersection:  {'Jonathan', 3.1416}

## 2. Lists
- Ordered structures (indexed)
- Mutable elements

In [13]:
my_list1 = ['Jonathan', 29, 'Luna', False]
my_list2 = [3.1416, ['l1', 3]]

print(f'List 1 has this: {my_list1} elements')
print(f'List 1 has this: {my_list2} elements')

List 1 has this: ['Jonathan', 29, 'Luna', False] elements
List 1 has this: [3.1416, ['l1', 3]] elements

### Indexing the elements

In [12]:
print('My name is ', my_list1[0])
print('The name of my dog is ', my_list1[2])

My name is  Jonathan
The name of my dog is  Luna

In [14]:
print(my_list1[1:3])

[29, 'Luna']

In [19]:
print(my_list2)
print(type(my_list2[0]))
my_list2[0] = '3.1416'
print(my_list2)
print(type(my_list2[0]))

[3.1416, ['l1', 3]]
<class 'float'>
['3.1416', ['l1', 3]]
<class 'str'>

In [21]:
# Making reference to an element of a list inside of another list
print(my_list2[1][0])

l1

### List methods

In [22]:
# Appending an element
my_list2.append('new')
print(my_list2)

['3.1416', ['l1', 3], 'new']

## 3. Tuples
- Ordered structures
- Non-mutable

In [24]:
my_tuple1 = ('Jonathan', 29, 'Moon')
print(f'The name of {my_tuple1[0]}s dog its {my_tuple1[2]}')

The name of Jonathans dog its Moon

In [25]:
my_tuple1[0] = 'Andrey'

TypeError: 'tuple' object does not support item assignment

## 4. Dictionaries
-  Non-ordered 
-  Mutable
-  Every value of a dictionary is composed by {key:value}

In [7]:
my_dict1 = {'Name':'Andrey', 'Surname': 'Hernandez', 'Birthday': 22, 'Student': True}
print(my_dict1)

{'Name': 'Andrey', 'Surname': 'Hernandez', 'Birthday': 22, 'Student': True}

In [8]:
#Add an element
my_dict1['Grades'] = [10.0, 10.0, 10.0, 9.9]

print(my_dict1)

{'Name': 'Andrey', 'Surname': 'Hernandez', 'Birthday': 22, 'Student': True, 'Grades': [10.0, 10.0, 10.0, 9.9]}

In [9]:
#Changing an element
my_dict1['Grades'] = [7.0, 7.0, 7.0, 7.0]
print(my_dict1)

{'Name': 'Andrey', 'Surname': 'Hernandez', 'Birthday': 22, 'Student': True, 'Grades': [7.0, 7.0, 7.0, 7.0]}

In [10]:
# Deleting an element
del my_dict1['Grades']
print(my_dict1)

{'Name': 'Andrey', 'Surname': 'Hernandez', 'Birthday': 22, 'Student': True}

In [11]:
# Getting the keys
print(my_dict1.keys())

dict_keys(['Name', 'Surname', 'Birthday', 'Student'])

In [12]:
# Getting the values
print(my_dict1.values())

dict_values(['Andrey', 'Hernandez', 22, True])